.component-dialog {
	display: none;
}

.dialog-open {
	overflow: hidden;
	
	.component-dialog {
		display: block;
		position: fixed;
		height: 100vh;
		width: 100vw;
	    background: rgba(0,0,0,0.3);
	    z-index: 10;
	    top: 0;
	    left: 0;
	}
}

#paste-wrapper,
#dialog-chat-wrapper {
	.center;
	width: calc(100% ~'-' @spacing);
	height: calc(100% ~'-' @spacing);
	z-index: 1;
	display: none;
	overflow: hidden;

	@media @bp-MobileL {
		width: 100%;
		height: 100%;
	}	

    figure {
    	margin: @spacing;
    }

    img {
    	max-height: @spacing*5;
    }

	&.active {
		.animation(fade-in 0.5s);
		.transition-delay(0.1s);
		display: block;
		opacity: 1;

		.inner {
			.animation(inner-item-dialog 1s);
			.transition-delay(0.5s);

			top: 0;
		}
	}

	.close-paste,
	.close-dialog {
		position: absolute;
		top: 0;
		right: 0;
		margin: @spacing/2;
		background-image: url('/img/cursor-close.svg');
		background-size: cover;
		width: 2rem;
		height: 2rem;
		cursor: pointer;
		z-index: 2;
	}

	.inner {
		position: absolute;
	    left: @spacing;
	    top: -100%;
	    right: @spacing;
	    width: auto;
	}

	.content-wrapper {
    	.displayflex;
    	.flex-direction(column);
    	.justify-content(flex-start);

   		padding: @spacing/2;
    	background: rgba(0,0,0,0.9);
    	height: 100%;
    }

    .description,
    .indication {
    	color: @white;
    	font-weight: bold;
		text-align: center;
    	text-transform: uppercase;
    }

 	.description {
    	font-size: @MediumSmallHeadingSize;
    	margin-bottom: @spacing;
 	}

 	.indication {
	    font-size: 3rem;
	    opacity: 0.3;
 	}
}

#dialog-chat-wrapper {
	width: calc(100%);
	height: calc(100%);

	img {
		margin-bottom: @spacing;
	}

	.inner {
		margin: @spacing 0;
	}

	.description {
		display: block;
		text-align: center;
	}

	.setting-item {
		.justify-content(center);
    	padding: 0;

		img,
		.slide-label {
			display: none;
		}
	}
}