.dashboard-wrapper {
	.displayflex;
	.flex-wrap;
	margin: 0 -@spacing/2;

	.item-wrapper {
		.flex-grow(1);
		min-height: @spacing*20;
		padding: @spacing/2;
		margin-bottom: @spacing;

		&.large {
			.flex-grow(0);
			width: 75%;
		}

		&.medium {
			.flex-grow(0);
			width: 50%;
		}

		&.small {
			.flex-grow(0);
			width: 25%;
		}
	}

	.item-title {
		.align-self(center);
		text-align: center;
	    font-family: @secondaryFont;
	    font-weight: normal;
	    font-size: @mediumSmallHeadingSize;
	    position: relative;
	    display: inline-block;
	    padding-left: 4rem;

	    &:before {
	    	.centerY;
	    	content: '';
	    	left: 0;
			background-image: url('/img/astronaut.svg');
			background-size: cover;
			width: 3rem;
			height: 3rem;
		}
	}

	.list-item-title {
		font-weight: 600;
		font-size: 1.1rem;
	}

	.item {
		.box-shadow(0 0.1rem 0.4rem rgba(0,0,0, 0.15));
		padding: @spacing/2 @spacing @spacing;
		background: #fbfbfb;
		height: 100%;
		width: 100%;
	}

	.content,
	.detail {
		.transition;		
	}

	.content {
		display: block;
		opacity: 1;
		visibility: visible;
	}

	.detail {
		display: none;
		opacity: 0;
		visibility: hidden;
		height: calc(100% ~'-' @spacing*2.5);
	}

	.back {
		.border-radius(50%);
		display: none;
		background: #fbfbfb;
		position: absolute;
		top: -@spacing/2;
		left: -@spacing/2;
		width: 3rem;
		height: 3rem;
		z-index: 1;
		cursor: pointer;
	}	

	.title-wrapper {
		.displayflex;
		.justify-content(center);
		border-bottom: 0.1rem solid @borderColor;
		margin-bottom: 0;
		position: relative;

		.list-item-title {
			.align-self(center);
			display: none;
			text-align: center;
		    font-family: @secondaryFont;
		    font-weight: normal;
		    font-size: @MediumSmallHeadingSize;
		    position: relative;
		    padding-left: 0;

		    &:before {
		    	.centerY;
		    	content: '';
		    	left: 0;
				background-image: url('/img/astronaut.svg');
				background-size: cover;
				width: 3rem;
				height: 3rem;
			}
		}
	}

	.details {
		position: relative;

		.item-title {
			display: none;
		}

		.back {
			display: block;
		}

		.title-wrapper {
			.list-item-title {
				display: none;

				&.show {
					display: block;

					&:before {
						display: none;
					}
				}
			}	
		}

		.detail-item {
			.flex-direction(column);
			height: 100%;
			display: none;

			.card-main {
				.flex-grow(1);

				li {
					&:not(.form-input-checkbox) {
						.displayflex;
						.justify-content(space-between);
						.align-items(center);
						padding: 0.8rem 0;
						border-bottom: 0.1rem solid @borderColor;
					}
				}

				.form-input-checkbox {
					width: auto;
					margin: 0;
				}

				.velden {
					label {
						padding: 0;
						margin: 0;
						width: 2rem;
						height: 2rem;

						&:before,
						&:after {
							width: 2rem;
							height: 2rem;
						}						
					}
				}
			}

			button {
				line-height: @spacing/2;
				height: @spacing;
			}

			.card-title {
				font-weight: bold;
				font-size: 1.3rem;
			}

			&.show {
				.displayflex;
			}
		}

		.list-wrapper {
			display: block;
		}

		.list-item-detail {
			font-style: italic;
			font-size: 1.1rem;
		}

		.detail,
		.content {
			.transition;
		}

		.detail {
			display: block;
			opacity: 1;
			visibility: visible;
		}

		.content {
			display: none;
			opacity: 0;
			visibility: hidden
		}		
	}

	.detail-members {
		.flex-grow(0);
		position: absolute;
		top: -@spacing/2;
		right: -1.5rem;
		width: 3rem;
		margin-bottom: 0;

		.member {
			width: 3rem;
			display: inline-block;
			margin-right: @spacing/4;

			&:last-child {
				margin-right: 0;
			}
		}
	}

}