#js-loggedin {
	background: #e8e8e8;

	.page-content {
			background: #e8e8e8;
	}
}

.dashboard-wrapper {
	.displayflex;
	.flex-wrap(wrap);
	margin: 0 -2rem;

	@media @bp-MobileL {
		margin: 0;
	}

	textarea {
		&:not(.list-paste) {
		    box-sizing: border-box;
		    max-height: 9.4rem;
		    min-height: 1.9rem;
		    overflow: hidden;
		    border: none;
			padding: 0;
			height: auto;
			background: transparent;
			resize: none;
			width: 100%;
			max-width: 100%;
		}
	}

	input {
		background: transparent;
		border: none;
		min-height: @spacing;
		padding: 0;
		width: 100%;

		&.chat-message-input {
			.flex-grow(1);
			width: auto;
			max-width: calc(100% ~'-' 7.2rem);
			height: @spacing*2;
			background: @ligtestGrey;
			padding: @spacing/2;
		}
	}

	.item-title {
		.align-self(center);
		text-align: center;
	    font-family: @secondaryFont;
	    font-weight: normal;
	    font-size: @mediumSmallHeadingSize;
	    position: relative;
	    display: inline-block;
	    padding-left: 4rem;

	    @media @bp-MobileL {
	    	margin-bottom: 0;
	    }

	    &:before {
	    	.centerY;
	    	content: '';
	    	left: 0;
			background-image: url('/img/astronaut.svg');
			background-size: cover;
			width: 3rem;
			height: 3rem;
		}
	}

	.item-wrapper {
		.flex-grow(1);
		min-height: @spacing*20;
		max-height: @spacing*20;
		padding: @spacing/2 2rem;
		margin-bottom: @spacing;

		@media @bp-MobileL {
			height: calc(100vh ~'-' @responsiveHeaderHeight + @footerHeight + @spacing*2);
			max-height: 100%;
			margin-bottom: 0;
			padding: 0;
		}

		&.large {
			.flex-grow(0);
			width: 75%;

			@media @bp-Large {
				width: 100%;
			}			
		}

		&.medium {
			.flex-grow(0);
			width: 50%;

			@media @bp-Large {
				width: 100%;
			}
		}

		&.small {
			.flex-grow(0);
			width: 25%;

			@media @bp-Large {
				width: 50%;
			}

			@media @bp-MobileL {
				width: 100%;
			}
		}

		&.friends {
			.avatar {
				max-width: @spacing*2.5;
			}
		}

		&.mylists {
			position: relative;

			.item-title {
				&:before {
					background-image: url('/img/lists.svg');
				}	
			}
		}

		&.chats {
			.item-title {
				&:before {
					background-image: url('/img/chat.svg');
				}	
			}
		}		
	}

	.list-item-title {
		text-align: left;
		font-family: @baseFont;
		font-weight: 600;
		font-size: 1.1rem;
		max-width: 100%;
		width: 100%;
		color: @textColor;
	}

	.item {
		.box-shadow(0 0.1rem 0.4rem rgba(0,0,0, 0.15));
		position: relative;
		padding: @spacing/2 0 @spacing;
		background: #fbfbfb;
		height: 100%;
		width: 100%;

		@media @bp-MobileL {
			.box-shadow(none);
			background: transparent;
		}	
	}

	.content {
		.transition;			
		display: block;
		opacity: 1;
		visibility: visible;
		height: @scrollContent;

		@media @bp-MobileL {
			overflow-y: auto;
			padding: 0 @spacing;
			height: calc(100vh ~'-' @responsiveHeaderHeight + @footerHeight + @spacing*4.8 + @spacing*2);
		}	
	}

	.detail {
		display: none;
		height: calc(100% ~'-' 8rem);

		@media @bp-MobileL {
			display: block;
			visibility: hidden;
		}	
	}

	.controll-wrapper {
		position: absolute;
		left: -1.7rem;
		top: 3.1rem;
	}

	.icon {
		.border-radius(50%);
		display: none;
		position: relative;
		background: #fbfbfb;
		width: 3rem;
		height: 3rem;
		z-index: 1;
		cursor: pointer;
		margin-bottom: @spacing/3;

		&:last-child {
			margin-bottom: 0;
		}

		&:hover,
		&:focus {
			.scale(1.1);
		}

		&.remove,
		&.add,
		&.paste,
		&.add-user {
			display: block;
			width: 2.9rem;
			height: 2.9rem;
			border: 2px solid #e1e1e1;

			img {
				.center;
				width: 1.5rem;
				height: 1.5rem;
			}
		}

		&.add {
			&.active {
				border-color: #64c37d;		
			}
		}

		&.remove {
			&.active {
				border-color: #cd0d35;		
			}
		}

		&.back {
			position: absolute;
			left: -1.7rem;
			top: -@spacing/2;
			margin: 0;

			@media @bp-MobileL {
				left: @spacing;
				top: @spacing*0.75;
			}	
		}
	}	

	.title-wrapper {
		.displayflex;
		.justify-content(center);
		border-bottom: 0.1rem solid @borderColor;
		margin: 0 @spacing @spacing/2 @spacing;
		position: relative;

		&.active {
			.displayflex;
		}

		@media @bp-MobileL {
			height: @spacing*1.5;
    		margin: 0 @spacing @spacing/2;
    		padding: 0 0 @spacing/2;
		}	

		.list-item-title {
			.align-self(center);
			display: none;
			text-align: center;
		    font-family: @secondaryFont;
		    font-weight: normal;
		    font-size: @mediumSmallHeadingSize;
		    position: relative;
		    padding-left: 0;
		    margin-bottom: @spacing/2;

		    @media @bp-MobileL {
		    	margin-bottom: 0;
		    }

		    &:before {
		    	.centerY;
		    	content: '';
		    	left: 0;
				background-image: url('/img/astronaut.svg');
				background-size: cover;
				width: 3rem;
				height: 3rem;
			}
		}
	}

	.remove-item,
	.remove-list {
		.transition;
		background-image: url('/img/x-button.svg');
		background-size: cover;
		width: 0;
		height: 0;
		margin-right: 0;
		visibility: hidden;
		opacity: 0;
		cursor: pointer;

		&.show {
			visibility: visible;
			opacity: 1;
			min-width: 2rem;
			width: 2rem;
			height: 2rem;
			margin-right: @spacing/2;					
		}
	}

	.details {
		position: relative;

		> div:not(.controll-wrapper) {
			opacity: 0;
			visibility: hidden;
		}

		&.active {
			> div {
				.transition(0.3s);
				opacity: 1;
				visibility: visible;
			}			
		}

		.item-title {
			display: none;
		}

		.icon {
			display: block;
		}

		.detail {
			display: block;
		}

		.title-wrapper {
			margin-bottom: 0;

			@media @bp-MobileL {
				height: @spacing*2.2;
				margin-right: @spacing*2;
			}

			> div {
				width: 100%;
			}

			.list-item-title {
				display: none;
				line-height: normal;

				&:after {
					content: attr(placeholder);
					color: @lighterGrey;
				}

				&.show {
					display: block;

					&:before {
						display: none;
					}
				}
			}
		}

		.detail-item {
			.flex-direction(column);
			height: 100%;
			display: none;

			.card-main {
				.flex-grow(1);
				height: @scrollContent;

				@media @bp-MobileL {
					overflow-y: auto;
					padding: 0 @spacing*2 0 @spacing;
				}	

				ul {
					margin: 0;
				}

				li {
					&:not(.form-input-checkbox) {
						.displayflex;
						.align-items(center);
						padding: 0.8rem 0;
						border-bottom: 0.1rem solid @borderColor;
					}
				}

				.new-item {
					.transition(0.2s);
					opacity: 0;
					visibility: hidden;
					display: none;

					&.show {
						height: 100%;
						visibility: visible;
						opacity: 1;
					}
				}

				.form-input-checkbox {
					width: auto;
					margin: 0;
				}

				.velden {
					label {
						padding: 0;
						margin: 0;
						width: 2rem;
						height: 2rem;

						&:before,
						&:after {
							width: 2rem;
							height: 2rem;
						}	

						&:after {
							background: inherit;
						}					
					}
				}
			}

			button {
				line-height: @spacing/2;
				height: @spacing;
			}

			.card-title {
				font-weight: bold;
				font-size: 1.3rem;
			}

			&.show {
				.displayflex;
			}
		}

		.list-wrapper {
			.flex-grow(1);
			display: block;
			margin-right: @spacing/2;
		}

		.list-item-detail {
			font-style: italic;
			font-size: 1.1rem;
		}

		.content {
			display: none;
			opacity: 0;
			visibility: hidden
		}		
	}

	.detail-members {
		.flex-grow(0);
		position: absolute;
		top: -@spacing/2;
		right: -1.5rem;
		width: 3rem;
		margin-bottom: 0;

		@media @bp-MobileL {
			top: @spacing/2;
			right: @spacing/4;
		}

		.member {
			width: 3rem;
			display: inline-block;
			margin-right: @spacing/4;

			&:last-child {
				margin-right: 0;
			}
		}

		.add-member {
			margin-bottom: @spacing/2;
			cursor: pointer;
		}

		.avatar {
			width: 3rem;
			height: 3rem;
		}
	}

	.btn-group-list {
		.displayflex;
		.align-items(center);
		.justify-content(center);

		position: absolute;
	    bottom: 0;
	    right: 0;
	    left: 0;
	    height: @spacing*2.5;
	    margin: 0;
	    background: #e5e5e530;

		@media @bp-MobileL {
			height: @spacing*2.2;
		}

	    .icon {
	    	.transition;
	    	height: @spacing*1.7;
	    	width: @spacing*1.7;
	    	margin: 0 @spacing/2 0 0;

	    	&:last-child {
	    		margin: 0;
	    	}	

	    	img {
				height: 60%;
				width: auto;
			}

			&.paste,
			&.add-user {
				img {
					width: 1.9rem;
					height: 1.9rem;
				}
			}
	    }	
	}
}

.chats {
	.item {
		padding: 0;
	}
}

.chat-friends {
	width: @spacing*8;
	background: #e5e5e530;
	padding: @spacing 0;
	position: relative;

	&.content {
		opacity: 1;
		height: 39.6rem;

		@media @bp-MobileL {
			display: none;
			visibility: hidden;
			opacity: 0;
			padding: 0;
		}

		&.hide {
			.animation(fade-out 1s);
			.transition-delay(0s);

			position: relative;
		}
	}

	.mCSB_container {
		padding: 0 @spacing/2;	
	}

	.card {
		color: contrast(#e5e5e530, @textColor, #fff);
		cursor: pointer;
		position: relative;

		.card-title {
			font-size: 1.1rem;
		}

		.arc {
			display: none;
		}

		.card-image-wrapper {
			height: 4rem;

			.avatar {
				width: 4rem;
				height: 4rem;
			}
		}

		.card-description {
			display: none;
		}
	}
}

.chat-options-wrapper {
	.transition;
	position: absolute;
	opacity: 0;
	visibility: hidden;
	display: none;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	background: #f7f7f7;
	z-index: 1;

	&.show {
		opacity: 1;
		visibility: visible;
		display: block;
	}

	.back {
		display: block;
	}

	.title-wrapper {
		margin-top: @spacing/2;
		margin-bottom: 0;
	}
}

.chat-options {
	.displayflex;
    height: 39.5rem;
}

.chat-options-list {
	margin: 0;
	padding: 0 @spacing @spacing @spacing;

	.card {
    	padding: @spacing/2;
    	margin: 0;
    	border-bottom: 1px solid @borderColor;
    	width: auto;
		position: relative;
		z-index: 0;

		&:before {
			.transition;
			content: '';
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			background: @ligtestGrey;
			z-index: -1;
			opacity: 0;
			visibility: hidden;
			display: none;
		}

		&:hover,
		&:focus {
			&:before {
				opacity: 1;
				visibility: visible;
				display: block;
			}	
		}

		.card-content-wrapper {
			max-width: 100%;
		}

    	.avatar {
			margin-left: 0;
    	}

    	.card-image-wrapper {
    		margin-right: 0;
    	}	
	}
}

.chat-image-input {
	display: none;
}

.chat-wrapper {
	//.blur();
	//opacity: 0.4;

	.displayflex;
	height: 100%;

	@media @bp-MobileL {
		.flex-direction();
		height: 100%;
		padding: @spacing/2 @spacing;
	}
}

.chat-controls {
	width: 50%;
	background: #e5e5e530;
	position: relative;
}

.user-chats-wrapper {
	.displayflex;
	.flex-direction(column);
	.flex-wrap(wrap);
}

.chat-conversation {
	.displayflex;
	.flex-direction(column);
	.flex-grow(1);
	padding: @spacing/2 @spacing;
	position: relative;

	@media @bp-MobileL {
		padding: 0;
	}

	.loaded {
		.animation(fade-in 0.5s);
		.transition-delay(0s);

		&.hide {
			.animation(fade-out 0.5s);
			.transition-delay(0s);
			position: relative;
		}
	}
}

.chat-friends,
.chat-conversation {
	width: 100%;
	height: 100%;
	background: transparent;
}

.chat-attendees {
	.detail-members {
		display: none;

		&.active {
			display: block;
		}
	}
}

.chat-meta {
	height: @spacing*1.6;

	.title-wrapper {
		display: none;

		&.active {
			.displayflex;
		}
	}
}

.chat-window {
	.flex-grow(1);
	height: 32.6rem;
	margin: 0 -@spacing;
	display: none;

	&.active {
		display: block;
	}

	@media @bp-MobileL {
		.flex-direction(column);
		.justify-content(flex-end);
		margin: @spacing/2 0;
		padding: 0;
		overflow-y: auto;

		&.active {
			.displayflex;
		}
	}

	.mCSB_container {
		.displayflex;
		.flex-direction(column);
		.justify-content(flex-end);
		min-height: 100%;
		padding: @spacing/2 @spacing*1.5 @spacing/2 @spacing;
	}
}

.chat-message-wrapper {
	height: @spacing*2.5;
}

.chat-message-options {
	.displayflex;
	.align-items(center);
	.justify-content(flex-end);
	height: @spacing*1.5;

	.icon {
		.align-self(flex-end);
		display: block;
	}
}

.chat-message {
	.displayflex;
	.flex-wrap(wrap);
	.justify-content(flex-start);

	margin-bottom: @spacing/2;
	margin-left: @spacing/2;

	.chat-message-date-wrapper {
		.justify-content(center);
		width: 100%;
		margin-bottom: @spacing/2;
		display: none;
	}

	.chat-message-date {
		.border-radius(0.7rem);
		.box-shadow(0px 0px 1px @lightGrey);

		font-weight: bold;
		font-size: 1.1rem;
		color: @white;
		padding: @spacing/4 @spacing/2;
		background-color: #2db99b;
	}

	.message-wrapper {
		.displayflex;
		.justify-content(flex-start);
		.flex-direction(column);
		.flex-wrap(wrap);
		.border-radius(0.7rem);
		.box-shadow(0px 0px 1px @lightGrey);

		max-width: 90%;
		background: @white;
		position: relative;
		padding-right: @spacing*1.5;

		&:extend(.arrow-down-border-left all);		
	}

	.message-time {
		position: absolute;
		right: 0.6rem;
		bottom: 0.2rem;
		font-size: 0.9rem;
		opacity: 0.7;
	}

	.message-image {
		.border-radius(0.7rem);
		width: 100%;
    	overflow: hidden;
    	padding: 0;
    	position: relative;
    	margin: 0.5rem;

    	&:after {
    		.border-radius(0 0 0.7rem 0.7rem);
    		background: transparent; /* For browsers that do not support gradients */
    		background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(162,162,162,1));
    		content: '';
    		position: absolute;
    		width: 100%;
    		left: 0;
    		right: 0;
    		bottom: 0;
    		z-index: 0;
    		height: @spacing;
    	}
	}

	.chat-image {
		.border-radius(1rem);
    	position: relative;
	}

	&:last-child {
		margin-bottom: 0;
	}

	&.user {
		.justify-content(flex-end);
		margin-left: 0;

		.message-time {
			color: @white!important;
			text-shadow: 1px 1px 1px #595959;
		}	

		.message-wrapper {
			.justify-content(flex-end);
			.flex-direction(inherit);
			background: @chatUserBg;

			&:extend(.arrow-down-border-right all);	
		}

		.chat-message-userinfo {
			display: none;
		}

		.message-text {
			color: @white;
			padding: @spacing/2;

			&:before {
				border-bottom-color: @secColor;
				right: @spacing;
				left: auto;
			}
		}

		.chat-username {
			.order(2);
			margin-left: @spacing/4;
			margin-right: 0;
		}

		.chat-indication {
			.order(3);
			margin-left: @spacing/2;
			margin-right: 0;
			background: @secColor;
		}

		.chat-image {
			border-color: @chatUserBg;
			background: @white;
		}
	}

	.message-meta {
		position: absolute;
		right: 0;
		bottom: 0;
	}

	.chat-indication {
		.border-radius(50%);
		width: 0.8rem;
		height: 0.8rem;
		background: @primColor;
		margin-right: @spacing/2;
	}

	.chat-username {
		margin-right: @spacing/4;
	}

	.chat-time {
		color: @lightGrey;
	}

	.chat-message-userinfo {
		width: 100%;
		font-size: 1.1rem;
		font-weight: bold;
		padding: @spacing/2 @spacing/2 @spacing/6;
	}

	.message-text {
		.border-radius(0.5rem);
		position: relative;
		padding: 0 @spacing/2 @spacing/3 @spacing/2;
		color: contrast(#fff, @textColor, #fff);
		margin: 0;
		width: 100%;
		font-size: @smallBaseFontSize;
	}

	&.image {
		.chat-message-userinfo {
			padding-bottom: @spacing/6;
		}

		.message-wrapper {
			.justify-content(center);
			max-width: @spacing*8;
			padding-right: 0;
		}

		.message-time {
			right: 1rem;
    		bottom: 0.7rem;
		}
	}

	&.yesterday {
		.chat-message-date-wrapper {
			.displayflex;
		}
		~ .yesterday {
			.chat-message-date-wrapper {
				display: none;
			}
		}
	}

	&.pastdate {
		.chat-message-date-wrapper {
			.displayflex;
		}
		~ .pastdate {
			.chat-message-date-wrapper {
				display: none;
			}
		}
	}

	&.today {
		.chat-message-date-wrapper {
			.displayflex;
		}
		~ .today {
			.chat-message-date-wrapper {
				display: none;
			}
		}
	}
}

.list-checked {
	.list-wrapper {
		opacity: 0.3;
	}
}

.comingsoon {
	.center;
	.displayflex;
	.justify-content(space-around);
	.flex-direction(column);

	padding: @spacing*2;
	width: 100%;
	height: 100%;
	z-index: 1;
	font-size: 4rem;

	img {
    	width: 50%;
    	margin: 0 auto;		

    	@media @bp-MobileL {
    		width: 75%;
    	}
	}
}

@keyframes inner-item-dialog {
	from {
		top: -100%;
	}
	to {
		top: 0;
	}
}

@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fade-out {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}