.dashboard-wrapper {
	.displayflex;
	.flex-wrap;
	margin: 0 -@spacing/2;

	.item-wrapper {
		.flex-grow(1);
		min-height: @spacing*20;
		padding: @spacing/2;
		margin-bottom: @spacing;

		&.large {
			.flex-grow(0);
			width: 75%;
		}

		&.medium {
			.flex-grow(0);
			width: 50%;
		}

		&.small {
			.flex-grow(0);
			width: 25%;
		}
	}

	.title-wrapper {
		.displayflex;
		.justify-content(center);
		border-bottom: 0.1rem solid @borderColor;
		margin-bottom: @spacing;
	}

	.item-title {
		.align-self(center);
		text-align: center;
	    font-family: @secondaryFont;
	    font-weight: normal;
	    font-size: @mediumSmallHeadingSize;
	    position: relative;
	    display: inline-block;
	    padding-left: 4rem;

	    &:before {
	    	.centerY;
	    	content: '';
	    	left: 0;
			background-image: url('/img/astronaut.svg');
			background-size: cover;
			width: 3rem;
			height: 3rem;
		}
	}

	.item {
		.box-shadow(0 0.1rem 0.4rem rgba(0,0,0, 0.15));
		padding: @spacing/2 @spacing @spacing;
		background: #fbfbfb;
		height: 100%;
		width: 100%;
	}

	.content,
	.detail {
		.transition;		
	}

	.content {
		display: block;
		opacity: 1;
		visibility: visible;
	}

	.detail {
		display: none;
		opacity: 0;
		visibility: hidden;
		height: calc(100% ~'-' @spacing*2.5);
	}

	.details {
		.detail-item {
			.flex-direction(column);
			height: 100%;
			display: none;

			.card-main {
				.flex-grow(1);
			}

			button {
				line-height: @spacing/2;
				height: @spacing;
			}

			.card-title {
				font-weight: bold;
				font-size: @XSmallHeadingSize;
			}

			&.show {
				.displayflex;
			}
		}

		.detail,
		.content {
			.transition;
		}

		.detail {
			display: block;
			opacity: 1;
			visibility: visible;
		}

		.content {
			display: none;
			opacity: 0;
			visibility: hidden
		}		
	}

	.detail-members {
		.flex-grow(0);
		margin: 0 0 @spacing/4 0;

		.member {
			width: 3rem;
			display: inline-block;
			margin-right: @spacing/4;

			&:last-child {
				margin-right: 0;
			}
		}
	}

}