.particles-animation-wrapper {
	.centerX;
	position: relative;
	width: 100vw;
	background: #000;
	margin-top: -(@headerHeight + @spacing * 1.5);
	min-height: 50rem;
	height: 50vh;
	background: url(/img/color-bg-blue-star.jpg) no-repeat top;
	background-size: cover;

	@media @bp-MobileL {
		height: 60vh;
		min-height: 0;
	}

	@media @bp-MobileM {
		min-height: 39rem;
	}

	textarea {
	    box-sizing: border-box;
	    max-height: 9.4rem;
	    min-height: 1.9rem;
	    overflow: hidden;
	    border: none;
		padding: 0;
		height: auto;
		background: transparent;
		resize: none;
		width: 100%;
		max-width: 100%;
		color: @white;
		text-align: center;
		font-family: @secondaryFont;
		font-size: @mediumSmallHeadingSize;
		margin-bottom: @spacing/2;

		@media @bp-MobileL {
			margin-bottom: @spacing;
		}		
	}
}

.particles-animation {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;

	@media @bp-MobileM {
		opacity: 0.3;
	}
}

.particles-content-wrapper {
	.center;
	.displayflex;
	.flex-wrap(wrap);
	.justify-content(center);
	.align-items(center);
	.flex-direction(column);

	text-align: center;
	width: 100vw / 2;
	height: auto;
	z-index: 2;

	@media @bp-TabletL {
		padding-top: @spacing*2;
		width: 80%;
	}

	@media @bp-MobileL {
		width: 100%;
		height: 100%;
		padding: 0 @spacing 0;
	}

	@media @bp-MobileM {
		.justify-content(center);
	    .flex-direction(row);
	    .transform(none);
	    left: 0;
	    top: 0;
	}

	figure {
		margin-bottom: @spacing;	
	}

	img,
	svg {
		.align-self(center);
		width: @spacing*8;
		opacity: 1;

		@media @bp-TabletL {
			.flex-order(2);
			width: @spacing*10;
		}

		@media @bp-MobileL {
			width: @spacing*8;
			margin-bottom: @spacing;
		}

		@media @bp-MobileM {
			width: @spacing*8;
			margin-bottom: @spacing;
		}	
	}

	img {
		&:extend(.avatar all);
	}


	svg {
		height: auto;
	}

	h2 {
		font-size: @largeHeadingSize*1.3;
		margin: 0 0 @spacing*2;

		@media @bp-TabletL {
			display: none;
		}
	}

	p {
		color: @lightGrey;
		margin: 0;

		@media @bp-TabletL {
			.flex-order(1);
			margin-bottom: @spacing;
			margin-top: @spacing;
		    font-weight: 400;
		    font-size: @mediumSmallHeadingSize;
		    text-transform: uppercase;
		    text-shadow: 1px 1px 1px @black;			
		}

		@media @bp-MobileL {
		    font-size: @smallHeadingSize;
		    margin: @spacing*5 0 @spacing;
		}	
	}

	.avatar {
		width: 11rem;
		height: 11rem;

		&:before{
			font-size: 2.4rem;
		}
	}
}